/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&family=Roboto+Slab:wght@300;400;500;600;800;900&display=swap");
/* FOOONTE */
:root {
  --home-color: #c0eef2;
  --oreng-color: #5837d0;
  --text-color: #181823;
  --hover-color: #537fe7;
  --section-color: #e9f8f9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto Slab", serif; */
  font-family: "Playfair Display", serif;
}
.header {
  background: var(--home-color);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/* nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.search-container {
  background: var(--home-color);
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
}

.search-container:hover > .search-input {
  width: 100px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 300;
  font-size: 16px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  color: var(--hover-color);
}
/* name */
.name {
  font-size: 24px;
  font-weight: 600;
}
/* icon */
.icons ul li {
  display: inline-block;
}
.icons ul li a {
  font-size: 18px;
  color: var(--text-color);
  margin: 0px 10px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icons ul li:hover a {
  color: var(--hover-color);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.menu {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
.menu ul {
  display: inline-block;
  list-style-type: none;
}
.menu ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.menu ul li:hover a {
  color: var(--hover-color);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: var(--oreng-color);
  color: #fff;
  padding: 12px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: var(--hover-color);
}
.header .row {
  margin-top: 0 90px;
}
/* START CATEGORIES */
.catrgor {
  background: var(--home-color);
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/* Product*/
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--text-color);
}
.title:after {
  content: "";
  background: var(--hover-color);
  width: 90px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: var(--text-color);
  font-weight: 500;
}
.col-4 p {
  font-size: 16px;
}
.rating .fa-star,
.fa {
  color: #d8b906;
}
.col-4:hover {
  transform: translateY(-5px);
}
/* OFFER */
.offer {
  background: var(--home-color);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
.offer p {
  color: gray;
  font-weight: 500;
}
small {
  color: gray;
  font-weight: 400;
}
/* test */
.test {
  padding-top: 100px;
}
.test .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.test .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.test .col-3:hover {
  transform: translateY(-10px);
}
.col-3 .fa-quote-left {
  font-size: 34px;
  color: var(--hover-color);
}
.col-3 p {
  font-size: 14px;
  margin: 12px 0;
  color: #777;
}
.test .col-3 h3 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
}
/* brands */
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}

/* footer */
.footer {
  background: var(--section-color);
  color: var(--text-color);
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: gray;
}
.footer h3 {
  color: var(--text-color);
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 img {
  width: 250px;
  margin-bottom: 20px;
}
.footer-col-2 {
  flex: 1;
}
.footer-col-2 p {
  margin-bottom: 10px;
}
.footer-col-2 a {
  color: var(--oreng-color);
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
}
ul {
  list-style-type: none;
}
ul li {
  margin-bottom: 5px;
}
.footer-col-4 h2 {
  color: #777;
  margin: 12px 0;
}
form {
  margin: auto;
  @media screen and (max-width: 560px) {
    max-width: 90%;
  }
}
form .button {
  height: 40px;
  font-size: 1em;
  border: 0;
}
form .btnn {
  display: inline-block;
  background: var(--oreng-color);
  color: #fff;
  padding: 12px 30px;
  margin: 12px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.footer hr {
  border: none;
  background: #b5b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copy {
  text-align: center;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* ---------------------------------------------------------------- */
/* products  */
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ccc;
  padding: 5px;
}
.navbar .search-icon {
  background: #fff;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid var(--home-color);
  margin-left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}
.page-btn span:hover {
  background: var(--hover-color);
  color: #fff;
}

/* single  product */
.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 3px 20px 3px 0;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #fff;
}
input:focus {
  outline: none;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img {
  flex-basis: 24%;
  cursor: pointer;
}
/* cart items
.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #537fe7;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px; 
  height: 30px;
  padding: 5px;
} */
/* avvount */
.account-page {
  padding: 50px 0;
  background: radial-gradient(#e9f8f9,#c0eef2);
}
.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #777;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.from-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form a {  
  font-size: 14px;
}
#Indicator {
  width: 100px;
  background: var(--oreng-color);
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  border-radius: 50px;
  transition: transfrom 1s;
}